<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/JS_Practice/index.css">
</head>

<body>
    <div class="container">
        <table>
            <tr>
                <td id="click">Mouse click</td>
                <td id="mouseover">Mouse hover</td>
                <td id="mouseout">Mouse In</td>
                <td id="dblclick">pls click twice</td>
                <td id="mousedown">Mouse down</td>
            </tr>
            <tr>
                <td id="mouseup">Mouse Up</td>
                <td id="mousemove">Mouse move</td>
                <td id="mouseenter">Mouse enter</td>
                <td id="contextmenu">Contextmenu</td>
                <td id="wheel">Wheel</td>
            </tr>
            <tr>
                <td id="drag">drag me</td>
                <td id="domload">DOM</td>
                <td id="onload">Windows loading</td>
                <td id="handle">Event handling!!</td>
                <td id="multiple_handle">Click me!!</td>
            </tr>
        </table>

    </div>
    <label for="name">Enter any key: </label>
    <input type="text" id="name">
    <p id="demo"></p>
    <script src="/JS_Practice/index.js"></script>
</body>

</html>