<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Malav's Assignment</h1>

    <a href="http://localhost:3000/JS_Task_1">Project-1</a>
    <a href="http://localhost:3000/JS_Task_2">Project-2</a>
    <a href="http://localhost:3000/JS_Task_3">Project-3</a>
    <a href="http://localhost:3000/JS_Task_4">Project-4</a>


    <script src="app.js"></script>
</body>

</html>